*{
  margin: 0;
}

.app{
  width: 100%;
  height: 100vh;
  background-color:rgb(182, 235, 228);
  place-items: center; 
 
}

@media only screen and (max-width: 500px) {
  .app{
   width: 100%;
   height: 100%;
  }
}
.app__body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

@media only screen and (max-width: 500px) {
  .app__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.app__body-left{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}
@media only screen and (max-width: 800px) {
  .app__body-left{
    height: 400px;
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .app__body-left{
    height: 300px;
    width: 300px;
  }
}




.app__list-container{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body-right{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}

@media only screen and (max-width: 800px) {
  .app__body-right{
    height: 400px;
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .app__body-right{
    margin-top: 20px;
    height: 300px;
    width: 300px;
  }
}

.app__savelist-container{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}